body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
}

/* 🔝 NAVBAR */
nav {
    background: #020617;
    padding: 10px;
}

nav h2 {
    margin: 0;
}

.menu {
    margin-top: 10px;
}

.menu button {
    margin: 5px;
    padding: 8px;
    background: #22c55e;
    border: none;
    cursor: pointer;
}

/* 📦 CONTENIDO */
#contenido {
    padding: 20px;
}

/* 🔐 LOGIN */
.login-box {
    position: fixed;
    top: 30%;
    left: 40%;
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
}

input {
    display: block;
    margin: 10px 0;
    padding: 8px;
}
